 
html {
  box-sizing: border-box;
}

.fwrapper {
  margin: 0 auto;
  width: 1000px;
}
.fbox {
  display: block;
  position: absolute;
  background: #ff7800;
  margin-top: 30px;
  width: 800px;
  height: 700px;
  background: #94e7ea;
}
.fhead {
  position: absolute;
  background: #fff7f0;
  top: 100px;
  left: 28%;
  width: 43%;
  height: 55%;
  border-radius: 50%;
  z-index: 3;
  border-top: 50px solid #c88041;
}
.fhead-copy {
  position: absolute;
  background: #fff7f0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
}
.fhair {
  position: absolute;
  top: -3%;
  left: 1%;
  background: #c88041;
  -webkit-clip-path: polygon(
    44% 0,
    80% 10%,
    94% 36%,
    100% 70%,
    94% 77%,
    73% 27%,
    23% 38%,
    0% 70%,
    0 55%,
    13% 19%
  );
  clip-path: polygon(
    44% 0,
    80% 10%,
    94% 36%,
    100% 70%,
    94% 77%,
    73% 27%,
    23% 38%,
    0% 70%,
    0 55%,
    13% 19%
  );
  width: 101%;
  height: 62%;
  z-index: 4;
}
.fhair-1 {
  position: absolute;
  top: -5%;
  left: -1%;
  background: #c88041;
  -webkit-clip-path: polygon(
    50% 0%,
    83% 9%,
    100% 36%,
    61% 57%,
    25% 100%,
    0 91%,
    16% 32%
  );
  clip-path: polygon(
    50% 0%,
    83% 9%,
    100% 36%,
    61% 57%,
    25% 100%,
    0 91%,
    16% 32%
  );
  width: 74%;
  height: 50%;
  z-index: 4;
}
.fhair-2 {
  position: absolute;
  top: -14%;
  left: 8%;
  background: #c88041;
  -webkit-clip-path: polygon(
    50% 2%,
    80% 10%,
    94% 28%,
    99% 44%,
    75% 29%,
    49% 26%,
    19% 33%,
    1% 44%,
    5% 27%,
    20% 10%
  );
  clip-path: polygon(
    50% 2%,
    80% 10%,
    94% 28%,
    99% 44%,
    75% 29%,
    49% 26%,
    19% 33%,
    1% 44%,
    5% 27%,
    20% 10%
  );
  width: 86%;
  height: 73%;
  z-index: 4;
}
.fhair-3 {
  position: absolute;
  top: -12%;
  left: 18%;
  background: #c88041;
  -webkit-clip-path: polygon(
    1% 99%,
    8% 81%,
    19% 56%,
    30% 39%,
    49% 19%,
    70% 9%,
    87% 3%,
    99% 1%,
    99% 18%
  );
  clip-path: polygon(
    1% 99%,
    8% 81%,
    19% 56%,
    30% 39%,
    49% 19%,
    70% 9%,
    87% 3%,
    99% 1%,
    99% 18%
  );
  width: 21%;
  height: 30%;
  z-index: 4;
}
.fhair-4 {
  position: absolute;
  top: -1%;
  left: 21%;
  background: #b35919;
  -webkit-clip-path: polygon(
    1% 99%,
    8% 81%,
    19% 56%,
    30% 39%,
    49% 19%,
    70% 9%,
    87% 3%,
    99% 1%,
    99% 18%
  );
  clip-path: polygon(
    1% 99%,
    8% 81%,
    19% 56%,
    30% 39%,
    49% 19%,
    70% 9%,
    87% 3%,
    99% 1%,
    99% 18%
  );
  width: 16%;
  height: 10%;
  z-index: 4;
}
.fhair-5 {
  position: absolute;
  top: 22%;
  left: 19%;
  background: #b35919;
  -webkit-clip-path: polygon(0 56%, 53% 5%, 100% 0, 49% 23%, 19% 52%);
  clip-path: polygon(0 56%, 53% 5%, 100% 0, 49% 23%, 19% 52%);
  width: 21%;
  height: 15%;
  z-index: 4;
}
.fhair-6 {
  position: absolute;
  top: 31%;
  left: 11%;
  background: #b35919;
  -webkit-clip-path: polygon(28% 40%, 100% 0%, 32% 52%, 0% 100%);
  clip-path: polygon(28% 40%, 100% 0%, 32% 52%, 0% 100%);
  width: 21%;
  height: 20%;
  z-index: 4;
}
.fhair-7 {
  position: absolute;
  top: 20%;
  left: 84%;
  background: #b35919;
  -webkit-clip-path: polygon(48% 40%, 3% 24%, 65% 29%, 91% 52%, 100% 77%);
  clip-path: polygon(48% 40%, 3% 24%, 65% 29%, 91% 52%, 100% 77%);
  width: 16%;
  height: 20%;
  z-index: 4;
}
.fhair-8 {
  position: absolute;
  top: -6%;
  left: 68%;
  background: #b35919;
  -webkit-clip-path: polygon(21% 5%, 73% 19%, 76% 32%, 58% 24%, 32% 21%, 0 27%);
  clip-path: polygon(21% 5%, 73% 19%, 76% 32%, 58% 24%, 32% 21%, 0 27%);
  width: 13%;
  height: 13%;
  z-index: 4;
}
.fhair-9 {
  position: absolute;
  top: 6%;
  left: 41%;
  background: #b35919;
  -webkit-clip-path: polygon(0 1%, 40% 55%, 100% 98%, 35% 64%);
  clip-path: polygon(0 1%, 40% 55%, 100% 98%, 35% 64%);
  width: 23%;
  height: 8%;
  z-index: 4;
}
.fhair-10 {
  position: absolute;
  top: 6%;
  left: 54%;
  background: #b35919;
  -webkit-clip-path: polygon(0 1%, 40% 55%, 100% 98%, 35% 64%);
  clip-path: polygon(0 1%, 40% 55%, 100% 98%, 35% 64%);
  width: 21%;
  height: 9%;
  z-index: 4;
}
.fhair-11 {
  position: absolute;
  background: #c88041;
  top: 34%;
  left: -16%;
  width: 33%;
  height: 23%;
  -webkit-clip-path: polygon(50% 0%, 55% 100%, 60% 0);
  clip-path: polygon(50% 0%, 55% 100%, 60% 0);
  z-index: 4;
}
.fhair-12 {
  position: absolute;
  background: #c88041;
  top: 34%;
  left: 79%;
  width: 33%;
  height: 23%;
  -webkit-clip-path: polygon(50% 0%, 55% 100%, 60% 0);
  clip-path: polygon(50% 0%, 55% 100%, 60% 0);
  z-index: 4;
}
.fhair-13 {
  position: absolute;
  top: 1%;
  left: -6%;
  background: #c88041;
  -webkit-clip-path: polygon(9% 55%, 21% 16%, 39% 12%, 51% 31%, 26% 76%);
  clip-path: polygon(9% 55%, 21% 16%, 39% 12%, 51% 31%, 26% 76%);
  width: 82%;
  height: 76%;
  z-index: 4;
}
.fhair-14 {
  position: absolute;
  top: 12%;
  left: 64%;
  background: #c88041;
  -webkit-clip-path: polygon(
    1% 1%,
    29% 5%,
    57% 15%,
    78% 32%,
    86% 55%,
    91% 75%,
    99% 98%
  );
  clip-path: polygon(
    1% 1%,
    29% 5%,
    57% 15%,
    78% 32%,
    86% 55%,
    91% 75%,
    99% 98%
  );
  width: 22%;
  height: 11%;
  z-index: 4;
}
.feyebrow-left {
  position: absolute;
  width: 21%;
  height: 10%;
  background: #c88041;
  -webkit-clip-path: polygon(
    25% 24%,
    100% 38%,
    100% 71%,
    26% 48%,
    0 92%,
    0 63%
  );
  clip-path: polygon(25% 24%, 100% 38%, 100% 71%, 26% 48%, 0 92%, 0 63%);
  top: 37%;
  left: 17%;
  z-index: 4;
}
.feyebrow-right {
  position: absolute;
  width: 21%;
  height: 10%;
  background: #c88041;
  -webkit-clip-path: polygon(
    65% 28%,
    100% 64%,
    100% 87%,
    67% 50%,
    0 73%,
    0 43%
  );
  clip-path: polygon(65% 28%, 100% 64%, 100% 87%, 67% 50%, 0 73%, 0 43%);
  top: 37%;
  left: 64%;
  z-index: 4;
}
.feye-left {
  position: absolute;
  width: 17%;
  height: 8%;
  background: white;
  border-top: 9px solid #c88041;
  border-radius: 46px 50px 1px 1px;
  top: 50%;
  left: 20%;
  z-index: 4;
}
.firis {
  position: absolute;
  top: 5%;
  left: 29%;
  width: 41%;
  height: 85%;
  background: #715405;
  z-index: 4;
  border-radius: 50px;
}
.fpupil {
  position: absolute;
  width: 41%;
  height: 37%;
  background: black;
  top: 33%;
  left: 30%;
  z-index: 5;
  border-radius: 50px;
}
.feye-right {
  position: absolute;
  width: 17%;
  height: 8%;
  background: white;
  border-top: 9px solid #c88041;
  border-radius: 50px 46px 1px 1px;
  top: 50%;
  left: 65%;
  z-index: 4;
}
.fnose {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 47px solid #ffeee0;
  border-radius: 15px;
  top: 62%;
  left: 44%;
  z-index: 4;
}
.fear-left {
  position: absolute;
  background: #fff7f0;
  top: 38%;
  left: -16%;
  width: 28%;
  height: 23%;
  -webkit-clip-path: ellipse(15% 47% at 50% 50%);
  clip-path: ellipse(15% 47% at 50% 50%);
  z-index: 4;
}
.fear-right {
  position: absolute;
  background: #fff7f0;
  top: 38%;
  left: 88%;
  width: 28%;
  height: 23%;
  -webkit-clip-path: ellipse(15% 47% at 50% 50%);
  clip-path: ellipse(15% 47% at 50% 50%);
  z-index: 4;
}
.fmouth {
  position: absolute;
  background: #ff677f;
  top: 68%;
  left: 42%;
  width: 20%;
  height: 20%;
  -webkit-clip-path: polygon(
    55% 63%,
    66% 60%,
    86% 64%,
    100% 70%,
    78% 81%,
    51% 83%,
    21% 79%,
    0% 70%,
    23% 63%,
    44% 60%
  );
  clip-path: polygon(
    55% 63%,
    66% 60%,
    86% 64%,
    100% 70%,
    78% 81%,
    51% 83%,
    21% 79%,
    0% 70%,
    23% 63%,
    44% 60%
  );
  z-index: 4;
}
.fmiddle {
  position: absolute;
  background: #6d222d;
  top: 39%;
  left: 0%;
  width: 99%;
  height: 7%;
  -webkit-clip-path: polygon(
    51% 34%,
    61% 33%,
    100% 39%,
    100% 46%,
    78% 56%,
    53% 60%,
    27% 57%,
    0 46%,
    0 39%,
    42% 33%
  );
  clip-path: polygon(
    51% 34%,
    61% 33%,
    100% 39%,
    100% 46%,
    78% 56%,
    53% 60%,
    27% 57%,
    0 46%,
    0 39%,
    42% 33%
  );
  z-index: 5;
}
#ffreckles {
  position: absolute;
  top: 61%;
  left: 0%;
  z-index: 7;
  width: 100%;
  height: auto;
}

.mwrapper {
  margin: 0 auto;
  width: 1000px;
}
.mbox {
  display: block;
  position: absolute;
  margin-top: 900px;
  width: 800px;
  height: 700px;
  background: #d7fcd4;
}
.mhead {
  position: absolute;
  background: #fff7f0;
  top: 100px;
  left: 27%;
  width: 50%;
  height: 55%;
  border-radius: 50%;
  z-index: 3;
  border-top: 50px solid #A0522D;
}
.mhead-copy {
  position: absolute;
  background: #fff7f0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
}
.mhair {
  position: absolute;
  top: -5%;
  left: 30%;
  background: #A0522D;
  -webkit-clip-path: polygon(36% 0, 0% 100%, 100% 100%);
  clip-path: polygon(36% 0, 0% 100%, 100% 100%);
  width: 15%;
  height: 25%;
  z-index: 1;
}
.mhair-1 {
  position: absolute;
  top: 2%;
  left: 18%;
  background: #A0522D;
  -webkit-clip-path: polygon(54% 1%, 1% 13%, 3% 24%, 7% 32%, 12% 42%, 16% 52%, 20% 60%, 24% 68%, 29% 76%, 38% 84%, 48% 92%, 58% 97%, 74% 100%, 88% 100%, 96% 98%);
  clip-path: polygon(54% 1%, 1% 13%, 3% 24%, 7% 32%, 12% 42%, 16% 52%, 20% 60%, 24% 68%, 29% 76%, 38% 84%, 48% 92%, 58% 97%, 74% 100%, 88% 100%, 96% 98%);
  width: 50%;
  height: 30%;
  z-index: 4;
}
.mhair-2 {
  position: absolute;
  top: 9%;
  left: 50%;
  background: #A0522D;
  -webkit-clip-path: polygon(54% 1%, 1% 13%, 3% 24%, 7% 32%, 12% 42%, 16% 52%, 20% 60%, 24% 68%, 29% 76%, 38% 84%, 48% 92%, 58% 97%, 74% 100%, 88% 100%, 96% 98%);
  clip-path: polygon(54% 1%, 1% 13%, 3% 24%, 7% 32%, 12% 42%, 16% 52%, 20% 60%, 24% 68%, 29% 76%, 38% 84%, 48% 92%, 58% 97%, 74% 100%, 88% 100%, 96% 98%);
  width: 50%;
  height: 30%;
  z-index: 4;
}
.mhair-3 {
  position: absolute;
  top: -12%;
  left: 17%;
  background: #A0522D;
  -webkit-clip-path: polygon(1% 99%, 8% 81%, 19% 56%, 30% 39%, 49% 19%, 70% 9%, 87% 3%, 99% 1%, 99% 18%);
  clip-path: polygon(1% 99%, 8% 81%, 19% 56%, 30% 39%, 49% 19%, 70% 9%, 87% 3%, 99% 1%, 99% 18%);
  width: 21%;
  height: 30%;
  z-index: 4;
}
.mhair-4 {
  position: absolute;
  top: 8%;
  left: 5%;
  background: #b35919;
  -webkit-clip-path: polygon(1% 99%, 8% 81%, 19% 56%, 30% 39%, 49% 19%, 70% 9%, 87% 3%, 99% 1%, 99% 18%);
  clip-path: polygon(1% 99%, 8% 81%, 19% 56%, 30% 39%, 49% 19%, 70% 9%, 87% 3%, 99% 1%, 99% 18%);
  width: 16%;
  height: 10%;
  z-index: 4;
}
.mhair-5 {
  position: absolute;
  top: -12%;
  left: 54%;
  background: #b35919;
  -webkit-clip-path: polygon(1% 1%, 29% 5%, 57% 15%, 78% 32%, 86% 55%, 91% 75%, 99% 98%);
  clip-path: polygon(1% 1%, 29% 5%, 57% 15%, 78% 32%, 86% 55%, 91% 75%, 99% 98%);
  width: 21%;
  height: 8%;
  z-index: 4;
}
.mhair-6 {
  position: absolute;
  top: -9%;
  left: 10%;
  background: #b35919;
  -webkit-clip-path: polygon(28% 40%, 100% 0%, 32% 52%, 0% 100%);
  clip-path: polygon(28% 40%, 100% 0%, 32% 52%, 0% 100%);
  width: 21%;
  height: 20%;
  z-index: 4;
}
.mhair-7 {
  position: absolute;
  top: 22%;
  left: 54%;
  background: #b35919;
  -webkit-clip-path: polygon(1% 1%, 29% 5%, 57% 15%, 78% 32%, 86% 55%, 91% 75%, 99% 98%);
  clip-path: polygon(1% 1%, 29% 5%, 57% 15%, 78% 32%, 86% 55%, 91% 75%, 99% 98%);
  width: 33%;
  height: 5%;
  z-index: 4;
}
.mhair-8 {
  position: absolute;
  top: 17%;
  left: 50%;
  background: #b35919;
  -webkit-clip-path: polygon(1% 1%, 29% 5%, 57% 15%, 78% 32%, 86% 55%, 91% 75%, 99% 98%);
  clip-path: polygon(1% 1%, 29% 5%, 57% 15%, 78% 32%, 86% 55%, 91% 75%, 99% 98%);
  width: 26%;
  height: 9%;
  z-index: 4;
}
.mhair-9 {
  position: absolute;
  top: 6%;
  left: 41%;
  background: #b35919;
  -webkit-clip-path: polygon(0 1%, 40% 55%, 100% 98%, 35% 64%);
  clip-path: polygon(0 1%, 40% 55%, 100% 98%, 35% 64%);
  width: 23%;
  height: 8%;
  z-index: 4;
}
.mhair-10 {
  position: absolute;
  top: 6%;
  left: 54%;
  background: #b35919;
  -webkit-clip-path: polygon(0 1%, 40% 55%, 100% 98%, 35% 64%);
  clip-path: polygon(0 1%, 40% 55%, 100% 98%, 35% 64%);
  width: 21%;
  height: 9%;
  z-index: 4;
}
.mhair-11 {
  position: absolute;
  background: #A0522D;
  top: 34%;
  left: -16%;
  width: 33%;
  height: 23%;
  -webkit-clip-path: polygon(50% 0%, 55% 100%, 60% 0);
  clip-path: polygon(50% 0%, 55% 100%, 60% 0);
  z-index: 4;
}
.mhair-12 {
  position: absolute;
  background: #A0522D;
  top: 36%;
  left: 82%;
  width: 28%;
  height: 23%;
  -webkit-clip-path: polygon(50% 0%, 55% 100%, 60% 0);
  clip-path: polygon(50% 0%, 55% 100%, 60% 0);
  z-index: 4;
}
.mhair-13 {
  position: absolute;
  top: -2%;
  left: 0%;
  background: #A0522D;
  -webkit-clip-path: polygon(50% 0%, 81% 6%, 100% 25%, 100% 54%, 66% 34%, 25% 23%, 0 57%, 0% 43%, 16% 9%);
  clip-path: polygon(50% 0%, 81% 6%, 100% 25%, 100% 54%, 66% 34%, 25% 23%, 0 57%, 0% 43%, 16% 9%);
  width: 99%;
  height: 76%;
  z-index: 4;
}
.mhair-14 {
  position: absolute;
  top: 3%;
  left: 73%;
  background: #A0522D;
  -webkit-clip-path: polygon(1% 1%, 29% 5%, 57% 15%, 78% 32%, 86% 55%, 91% 75%, 99% 98%);
  clip-path: polygon(1% 1%, 29% 5%, 57% 15%, 78% 32%, 86% 55%, 91% 75%, 99% 98%);
  width: 22%;
  height: 11%;
  z-index: 4;
}
.mhair-15 {
  position: absolute;
  top: -7%;
  left: 44%;
  background: #A0522D;
  -webkit-clip-path: polygon(78% 16%, 94% 32%, 100% 68%, 84% 43%, 72% 29%, 42% 14%, 56% 10%);
  clip-path: polygon(78% 16%, 94% 32%, 100% 68%, 84% 43%, 72% 29%, 42% 14%, 56% 10%);
  width: 58%;
  height: 85%;
  z-index: 4;
}
.meyebrow-left {
  position: absolute;
  width: 30%;
  height: 10%;
  background: #A0522D;
  -webkit-clip-path: polygon(55% 0, 100% 25%, 100% 75%, 61% 46%, 0% 75%, 0% 25%);
  clip-path: polygon(55% 0, 100% 25%, 100% 75%, 61% 46%, 0% 75%, 0% 25%);
  top: 40%;
  left: 15%;
  z-index: 4;
}
.meyebrow-right {
  position: absolute;
  width: 30%;
  height: 10%;
  background: #A0522D;
  -webkit-clip-path: polygon(39% 3%, 100% 25%, 100% 75%, 32% 47%, 0% 75%, 0% 25%);
  clip-path: polygon(39% 3%, 100% 25%, 100% 75%, 32% 47%, 0% 75%, 0% 25%);
  top: 40%;
  left: 60%;
  z-index: 4;
}
.meye-left {
  position: absolute;
  width: 17%;
  height: 9%;
  background: white;
  border-top: 10px solid #A0522D;
  border-radius: 50px 50px 1px 1px;
  top: 50%;
  left: 20%;
  z-index: 4;
}
.miris {
  position: absolute;
  width: 43%;
  height: 87%;
  background: black;
  top: 5%;
  left: 30%;
  z-index: 4;
  border-radius: 50px;
}
.meye-right {
  position: absolute;
  width: 17%;
  height: 9%;
  background: white;
  border-top: 10px solid #A0522D;
  border-radius: 50px 50px 1px 1px;
  top: 50%;
  left: 65%;
  z-index: 4;
}
.mnose {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 33px solid transparent;
  border-right: 33px solid transparent;
  border-bottom: 50px solid #ffeee0;
  border-radius: 15px;
  top: 61%;
  left: 44%;
  z-index: 4;
}
.mear-left {
  position: absolute;
  background: #fff7f0;
  top: 38%;
  left: -16%;
  width: 28%;
  height: 23%;
  -webkit-clip-path: ellipse(15% 47% at 50% 50%);
  clip-path: ellipse(15% 47% at 50% 50%);
  z-index: 4;
}
.mear-right {
  position: absolute;
  background: #fff7f0;
  top: 38%;
  left: 88%;
  width: 28%;
  height: 23%;
  -webkit-clip-path: ellipse(15% 47% at 50% 50%);
  clip-path: ellipse(15% 47% at 50% 50%);
  z-index: 4;
}
.mmouth {
  position: absolute;
  background: #f08080;
  top: 67%;
  left: 38%;
  width: 29%;
  height: 26%;
  -webkit-clip-path: polygon(52% 56%, 68% 54%, 85% 55%, 100% 53%, 74% 64%, 50% 66%, 24% 65%, 0 56%, 19% 56%, 36% 54%);
clip-path: polygon(52% 56%, 68% 54%, 85% 55%, 100% 53%, 74% 64%, 50% 66%, 24% 65%, 0 56%, 19% 56%, 36% 54%);
  z-index: 4;
}
#mfreckles {
  position: absolute;
  top: 61%;
  left: 0%;
  z-index: 7;
  width: 100%;
  height: auto;
}

.big-space {
  position: absolute;
  top: 1000px;
  width: 100%;
  background: #eeeeee;
}
